header.header
    .container
        a.logo(href='#')
        .socials
            ul.socials__list
                each social in ['vk', 'fb', 'tw']
                    li.socials__item
                        a(class=`socials__link socials__link_${social}` href='#')
                            img.socials__link-pic(src=`/img/icons/${social}.png`, alt='')
            a.c-contacts__link(href="skype:romanitalian" class="socials__link socials__link_vk" target="_blank")
                i.fa.c-social__icon.fa-skype(aria-hidden="true" id="idiblock") romanitalian
