.socials__header {
  position: absolute;
  top: 20px;
  left: 20px;
  &__item {
    display: inline-block;
    vertical-align: middle;
  }
  &__icon {
    width: 25px;
    height: 35px;
    &:hover {
      fill: $icon-color-hover;
    }
  }
  &__link {
    fill: $white;
    margin-right: 27px;
  }
}
.socials__footer {
  left: 20px;
  &__item {
    display: inline-block;
    vertical-align: middle;
  }
  &__icon {
    width: 25px;
    height: 35px;
    &:hover {
      fill: $footer-social-color-hover;
    }
  }
  &__link {
    fill: $footer-social-color;
    margin-right: 27px;
  }
}