.socials {
  &__header {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &__link {
    fill: $white;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.2rem;
    border: 1px solid red;
  }
  &__icon {
    width: 25px;
    height: 35px;
    &:hover {
      fill: $icon-color-hover;
    }
  }

  &.socials__footer {
    .socials__link {
      fill: $footer-social-color-footer;
    }
  }
}

// .socials__footer {
//   left: 20px;
//   &__item {
//     display: inline-block;
//     vertical-align: middle;
//   }
//   &__icon {
//     width: 25px;
//     height: 35px;
//     &:hover {
//       fill: $footer-social-color-hover;
//     }
//   }
//   &__link {
//     fill: $footer-social-color;
//     margin-right: 27px;
//   }
// }